<div class="buttonbox">
    <form class="select-page-form" action="" method="post" enctype="application/x-www-form-urlencoded">
        <label>Pagina</label>
        <input class="page-input" type="number" name="page" id="pagenumber" value="101">
        <label>SubPag.</label>
        <input class="page-input" type="number" name="subpage" id="subpagenumber" value="1">
        <input class="page-submit" type="submit" value="Ga">
    </form>
</div>