:root {
  --main-box-bg-color: rgb(48, 50, 82); 
  --main-box-border-color: rgb(141, 156, 154);
  --main-text-color: yellow;
  --body-bg-color: whitesmoke;
}

body { 
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--body-bg-color); 
} 
.content {
  max-width: 500px;
  margin: auto;
}
.center-div
{
     margin: 0 auto;
     width: 374px; 
}
h1 { 
  color: white; 
  text-align: center; 
} 
pre { 
  text-indent: 0px;
  background-color: var(--main-box-bg-color);
  width: 374px;
  border: 10px solid var(--main-box-border-color);
  /*padding: 10px;  */
}
/* div { 
  background-color: var(--main-box-bg-color);
  width: 374px;
  border: 10px solid var(--main-box-border-color);
  padding: 1px;
  /*margin: 14px;*/
/*} */
.buttonbox { 
  background-color: var(--main-box-bg-color);
  width: 374px;
  border: 10px solid var(--main-box-border-color);
  padding: 1px;
  position: relative;
  /*top: 410px; 
  left: 8px;*/
  text-align: center;
} 
.navigationbox { 
  background-color: var(--main-box-bg-color);
  width: 374px;
  /*border: 10px solid var(--main-box-border-color);*/
  border-left: 10px solid var(--main-box-border-color);
  border-right: 10px solid var(--main-box-border-color);
  padding: 1px;
  /*border-top: 5px solid var(--main-box-border-color);
  border-bottom: 5px solid var(--main-box-border-color);*/
  position: relative;
  
  text-align: center;
} 
.navigationbox2 { 
  background-color: var(--main-box-bg-color);
  width: 374px;
  border: 10px solid var(--main-box-border-color);
  padding: 1px;
  position: relative;
  text-align: center;
} 
p { 
  color: var(--main-text-color); 
  margin: 4px; border: none; padding: 0px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15px; 
} 
p:empty {
    height: 0.5; 
    background: #ff0000;
}
p.firstline {
  white-space: pre-line;
}
a:link {
  color: rgb(255, 255, 137); 
  text-decoration: none;
}
a:visited {
  color: var(--main-text-color); 
  text-decoration: none;
}
label {
  background-color: var(--main-box-bg-color);
  width: 68px;
  color: white; 
  margin: 1px; border: none; 
  padding: 1px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 16px; 
}
button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 32px;
  text-transform: capitalize;
  width: 88px;
}
.page-input {
  width: 56px;
  height: 32px;
  background: Gray;
  color: White;
  border: 0px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 16px; font-style: italic bold; font-variant: normal; font-weight: 400; line-height: 32px; 
}
.page-submit {
  width: 84px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 32px;
}
.page-input-select {
  width: 248px;
  height: 32px;
}
.select-page-form {
  margin: auto;
}
.navbutton {
  width: 84px;
  height: 32px
}