body { 
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;

} 
.center-div
{
     margin: 0 auto;
     width: 100px; 
}
h1 { 
  color: white; 
  text-align: center; 
} 
pre { 
  text-indent: 0px;
  background-color: rgb(48, 50, 82);
  width: 332px;
  border: 10px solid rgb(141, 156, 154);
  padding: 10px;
  margin: 10px;
}
div { 
  background-color: rgb(48, 50, 82);
  width: 332px;
  border: 10px solid rgb(141, 156, 154);
  padding: 10px;
  margin: auto;
}
div.buttonbox { 
  width: 76px;
  position: fixed;
  top: 10px; 
  left: 394px;
} 
div.navigationbox { 
  width: 76px;
  position: fixed;
  top: 144px;
  left: 394px; 
} 
div.navigationbox2 { 
  width: 76px;
  position: fixed;
  top: 280px;
  left: 394px; 
} 
p { 
  color: yellow; 
  margin: 1px; border: none; padding: 0px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px; 
} 
p:empty {
    height: 0.5; 
    background: #ff0000;
} 
a:link {
  color: rgb(255, 255, 137); 
  text-decoration: none;
}
a:visited {
  color: yellow; 
  text-decoration: none;
}
label {
  background-color: rgb(48, 50, 82);
  width: 60px;
  color: white; 
  margin: 1px; border: none; padding: 0px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 16px; 
}
button {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-input {
  width: 76px;
  background: Gray;
  color: White;
  border: 1px;
  padding: 1px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 16px; font-style: italic bold; font-variant: normal; font-weight: 400; line-height: 20px; 
}
.page-submit {
  width: 76px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.select-page-form {
  margin: auto;
}
.navbutton {
  width: 76px;
}