  body { 
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke; 
} 
.center-div
{
     margin: 0 auto;
     width: 332px; 
}
h1 { 
  color: white; 
  text-align: center; 
} 
pre { 
  text-indent: 0px;
  background-color: rgb(48, 50, 82);
  width: 332px;
  border: 10px solid rgb(141, 156, 154);
  /*padding: 10px;  */
}
div { 
  background-color: rgb(48, 50, 82);
  width: 332px;
  border: 10px solid rgb(141, 156, 154);
  padding: 1px;
  /*margin: 20px;*/
}
div.buttonbox { 
  width: 332px;
  position: relative;
  /*top: 410px; 
  left: 8px;*/
  text-align: center;
} 
div.navigationbox { 
  width: 332px;
  position: relative;
  /*top: 370px;
  left: 8px; */
  text-align: center;
} 
div.navigationbox2 { 
  width: 332px;
  position: relative;
  /*top: 370px;
  left: 8px; */
  text-align: center;
} 
p { 
  color: yellow; 
  margin: 8px; border: none; padding: 0px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px; 
} 
p:empty {
    height: 0.5; 
    background: #ff0000;
} 
a:link {
  color: rgb(255, 255, 137); 
  text-decoration: none;
}
a:visited {
  color: yellow; 
  text-decoration: none;
}
label {
  background-color: rgb(48, 50, 82);
  width: 56px;
  color: white; 
  margin: 1px; border: none; 
  padding: 1px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 16px; 
}
button {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-input {
  width: 56px;
  background: Gray;
  color: White;
  border: 0px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 16px; font-style: italic bold; font-variant: normal; font-weight: 400; line-height: 20px; 
}
.page-submit {
  width: 76px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.select-page-form {
  margin: auto;
}
.navbutton {
  width: 78px;
}